<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="description" content="Intravenous is a lightweight dependency injection container for Javascript.">
    <title>Intravenous</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/RoyJacobs/intravenous">View On GitHub</a></li>
          <li class="downloads"><a href="https://raw.github.com/RoyJacobs/intravenous/master/build/output/intravenous-latest.debug.js">DEBUG</a></li>
          <li class="downloads"><a href="https://raw.github.com/RoyJacobs/intravenous/master/build/output/intravenous-latest.js">RELEASE (4.1kb)</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">
      <section>
	    <div id="title">
		  <h1>Intravenous</h1>
		  <p>A lightweight inversion of control container for Javascript.</p>
          <span class="credits left">Project maintained by <a href="https://github.com/RoyJacobs">RoyJacobs</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        </div>

		{{ content }}
	  </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-31340321-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>